body {
  font-family: 'Montserrat', sans-serif;
}
/* Mix */
.bg_green {
  background-color: #1abc9c;

}
.text_white {
  color: #fff;
}
.bg_dark {
  background-color: #2c3e50;
}

.bg_lightblue {
  background-color: lightblue;
  margin-top: 50px;
}
.cl_dark {
  color: #2c3e50;
}
h1 , h2 ,  h3 {
  text-transform: uppercase;
}
.btn_green {
  background-color:  #1abc9c;
  border: 2px solid #fff;
}
/* /Mix */
.img_hero {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 50px;
}
.separatore_star {
 width: 100px;
 border: 2px solid #fff;
 border-radius: 2px;
 display: inline-block;
 vertical-align: middle;
 background: #fff;
}
.separatore_star_blue {
 width: 100px;
 border: 2px solid #2c3e50;
 border-radius: 2px;
 display: inline-block;
 vertical-align: middle;
 background: #2c3e50;
}
.star_logo {
color: #2c3e50;
font-size: 20px;
}
.star_lg {
  color: #fff;
  font-size: 20px;
}

/* /Style Header */
/* Style Section 6 col */
.img_six > img {
  margin-top: 30px;
  width: 100%;
  border-radius: 9px;
}
/* /Style Section 6 col */
/* Stile sezione About */
#about {
  padding: 60px 0;
}
.down_load {
  margin-right: 5px;
}
/* /Stile sezione About */
/* Stile sezione Contact */
#contact {
  padding: 50px 0;
}
.border_input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #2c3e50;
  box-shadow: none;
  margin-top: 20px;
  font-size: 20px;
}
/* /Stile sezione Contact */
/* stile Footer */
.scl {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0 20px;
}
.scl_logo {
  color: #fff;
}
span a {
color:  #1abc9c;
}
.line_footer {
  line-height: 80px;
  vertical-align: middle;
  margin-bottom: 0;
}
/* /stile Footer */

#foot {
  padding: 50px 0;
}
.container_cnt {
  max-width: 800px;
  margin: auto;

}
.mg_top {
  margin-top: 40px;
}
.bg_darkblue {
  background-color: #000033;
  color: #fff;
  margin-bottom: 0;
}
