
/* Style Header */
.bg_green {
  background-color: lightgreen;
  height: 500px;
}
.img_hero {
  background-color: red;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
}
.nav_header {
  border: 1px solid black;
  height: 100px;
}
/* /Style Header */
/* Style Section 6 col */
.img_six {
  border: 2px solid black;
  background-color: blue;
  margin-top: 30px;
  height: 180px;
  border-radius: 9px;
}
/* /Style Section 6 col */
.bg_lightblue {
  background-color: lightblue;
  margin-top: 50px;
}
